@charset "utf-8";
/* CSS Document */
html {
	background-color: #F2F2F2;
	box-sizing: border-box
		-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block
}

progress {
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

figure {
	margin: 1em 40px
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

button,
input,
select,
textarea {
	font: inherit;
	margin: 0
}

optgroup {
	font-weight: bold
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

/* End extract */

html,
body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5
}

html {
	overflow-x: hidden
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

.shoes-serif {
	font-family: serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0
}

.shoes-wide {
	letter-spacing: 4px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.shoes-image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle
}

a {
	color: inherit
}

.shoes-table,
.shoes-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}

.shoes-table-all {
	border: 1px solid #ccc
}

.shoes-bordered tr,
.shoes-table-all tr {
	border-bottom: 1px solid #ddd
}

.shoes-striped tbody tr:nth-child(even) {
	background-color: #f1f1f1
}

.shoes-table-all tr:nth-child(odd) {
	background-color: #fff
}

.shoes-table-all tr:nth-child(even) {
	background-color: #f1f1f1
}

.shoes-hoverable tbody tr:hover,
.shoes-ul.shoes-hoverable li:hover {
	background-color: #ccc
}

.shoes-centered tr th,
.shoes-centered tr td {
	text-align: center
}

.shoes-table td,
.shoes-table th,
.shoes-table-all td,
.shoes-table-all th {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top
}

.shoes-table th:first-child,
.shoes-table td:first-child,
.shoes-table-all th:first-child,
.shoes-table-all td:first-child {
	padding-left: 16px
}

.shoes-btn,
.shoes-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.shoes-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.shoes-btn,
.shoes-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.shoes-disabled,
.shoes-btn:disabled,
.shoes-button:disabled {
	cursor: not-allowed;
	opacity: 0.3
}

.shoes-disabled *,
:disabled * {
	pointer-events: none
}

.shoes-btn.shoes-disabled:hover,
.shoes-btn:disabled:hover {
	box-shadow: none
}

.shoes-badge,
.shoes-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.shoes-badge {
	border-radius: 50%
}

.shoes-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.shoes-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

.shoes-ul li:last-child {
	border-bottom: none
}

.shoes-tooltip,
.shoes-display-container {
	position: relative
}

.shoes-tooltip .shoes-text {
	display: none
}

.shoes-tooltip:hover .shoes-text {
	display: inline-block
}

.shoes-ripple:active {
	opacity: 0.5
}

.shoes-ripple {
	transition: opacity 0s
}

.shoes-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}

.shoes-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc
}

.shoes-dropdown-click,
.shoes-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.shoes-dropdown-hover:hover .shoes-dropdown-content {
	display: block
}

.shoes-dropdown-hover:first-child,
.shoes-dropdown-click:hover {
	background-color: #ccc;
	color: #000
}

.shoes-dropdown-hover:hover>.shoes-button:first-child,
.shoes-dropdown-click:hover>.shoes-button:first-child {
	background-color: #ccc;
	color: #000
}

.shoes-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1
}

.shoes-check,
.shoes-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px
}

.shoes-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed!important;
	z-index: 1;
	overflow: auto
}

.shoes-bar-block .shoes-dropdown-hover,
.shoes-bar-block .shoes-dropdown-click {
	width: 100%
}

.shoes-bar-block .shoes-dropdown-hover .shoes-dropdown-content,
.shoes-bar-block .shoes-dropdown-click .shoes-dropdown-content {
	min-width: 100%
}

.shoes-bar-block .shoes-dropdown-hover .shoes-button,
.shoes-bar-block .shoes-dropdown-click .shoes-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

.shoes-main,
#main {
	transition: margin-left .4s
}

.shoes-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4)
}

.shoes-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px
}

.shoes-bar {
	width: 100%;
	overflow: hidden
}

.shoes-center .shoes-bar {
	display: inline-block;
	width: auto
}

.shoes-bar .shoes-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0
}

.shoes-bar .shoes-dropdown-hover,
.shoes-bar .shoes-dropdown-click {
	position: static;
	float: left
}

.shoes-bar .shoes-button {
	white-space: normal
}

.shoes-bar-block .shoes-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}

.shoes-bar-block.shoes-center .shoes-bar-item {
	text-align: center
}

.shoes-block {
	display: block;
	width: 100%
}

.shoes-responsive {
	display: block;
	overflow-x: auto
}

.shoes-container:after,
.shoes-container:before,
.shoes-panel:after,
.shoes-panel:before,
.shoes-row:after,
.shoes-row:before,
.shoes-row-padding:after,
.shoes-row-padding:before,
.shoes-cell-row:before,
.shoes-cell-row:after,
.shoes-clear:after,
.shoes-clear:before,
.shoes-bar:before,
.shoes-bar:after {
	content: "";
	display: table;
	clear: both
}

.shoes-col,
.shoes-half,
.shoes-third,
.shoes-twothird,
.shoes-threequarter,
.shoes-quarter {
	float: left;
	width: 100%
}

.shoes-col.s1 {
	width: 8.33333%
}

.shoes-col.s2 {
	width: 16.66666%
}

.shoes-col.s3 {
	width: 24.99999%
}

.shoes-col.s4 {
	width: 33.33333%
}

.shoes-col.s5 {
	width: 41.66666%
}

.shoes-col.s6 {
	width: 49.99999%
}

.shoes-col.s7 {
	width: 58.33333%
}

.shoes-col.s8 {
	width: 66.66666%
}

.shoes-col.s9 {
	width: 74.99999%
}

.shoes-col.s10 {
	width: 83.33333%
}

.shoes-col.s11 {
	width: 91.66666%
}

.shoes-col.s12 {
	width: 99.99999%
}

@media (min-width:601px) {
	.shoes-col.m1 {
		width: 8.33333%
	}
	.shoes-col.m2 {
		width: 16.66666%
	}
	.shoes-col.m3,
	.shoes-quarter {
		width: 24.99999%
	}
	.shoes-col.m4,
	.shoes-third {
		width: 33.33333%
	}
	.shoes-col.m5 {
		width: 41.66666%
	}
	.shoes-col.m6,
	.shoes-half {
		width: 49.99999%
	}
	.shoes-col.m7 {
		width: 58.33333%
	}
	.shoes-col.m8,
	.shoes-twothird {
		width: 66.66666%
	}
	.shoes-col.m9,
	.shoes-threequarter {
		width: 74.99999%
	}
	.shoes-col.m10 {
		width: 83.33333%
	}
	.shoes-col.m11 {
		width: 91.66666%
	}
	.shoes-col.m12 {
		width: 99.99999%
	}
}

@media (min-width:993px) {
	.shoes-col.l1 {
		width: 8.33333%
	}
	.shoes-col.l2 {
		width: 16.66666%
	}
	.shoes-col.l3 {
		width: 24.99999%
	}
	.shoes-col.l4 {
		width: 33.33333%
	}
	.shoes-col.l5 {
		width: 41.66666%
	}
	.shoes-col.l6 {
		width: 49.99999%
	}
	.shoes-col.l7 {
		width: 58.33333%
	}
	.shoes-col.l8 {
		width: 66.66666%
	}
	.shoes-col.l9 {
		width: 74.99999%
	}
	.shoes-col.l10 {
		width: 83.33333%
	}
	.shoes-col.l11 {
		width: 91.66666%
	}
	.shoes-col.l12 {
		width: 99.99999%
	}
}

.shoes-content {
	max-width: 980px;
	margin: auto
}

.shoes-rest {
	overflow: hidden
}

.shoes-cell-row {
	display: table;
	width: 100%
}

.shoes-cell {
	display: table-cell
}

.shoes-cell-top {
	vertical-align: top
}

.shoes-cell-middle {
	vertical-align: middle
}

.shoes-cell-bottom {
	vertical-align: bottom
}

.shoes-hide {
	display: none!important
}

.shoes-show-block,
.shoes-show {
	display: block!important
}

.shoes-show-inline-block {
	display: inline-block!important
}

@media (max-width:600px) {
	.shoes-modal-content {
		margin: 0 10px;
		width: auto!important
	}
	.shoes-modal {
		padding-top: 30px
	}
	.shoes-dropdown-hover.shoes-mobile .shoes-dropdown-content,
	.shoes-dropdown-click.shoes-mobile .shoes-dropdown-content {
		position: relative
	}
	.shoes-hide-small {
		display: none!important
	}
	.shoes-mobile {
		display: block;
		width: 100%!important
	}
	.shoes-bar-item.shoes-mobile,
	.shoes-dropdown-hover.shoes-mobile,
	.shoes-dropdown-click.shoes-mobile {
		text-align: center
	}
	.shoes-dropdown-hover.shoes-mobile,
	.shoes-dropdown-hover.shoes-mobile .shoes-btn,
	.shoes-dropdown-hover.shoes-mobile .shoes-button,
	.shoes-dropdown-click.shoes-mobile,
	.shoes-dropdown-click.shoes-mobile .shoes-btn,
	.shoes-dropdown-click.shoes-mobile .shoes-button {
		width: 100%
	}
}

@media (max-width:768px) {
	.shoes-modal-content {
		width: 500px
	}
	.shoes-modal {
		padding-top: 50px
	}
}

@media (min-width:993px) {
	.shoes-modal-content {
		width: 900px
	}
	.shoes-hide-large {
		display: none!important
	}
	.shoes-sidebar.shoes-collapse {
		display: block!important
	}
}

@media (max-width:992px) and (min-width:601px) {
	.shoes-hide-medium {
		display: none!important
	}
}

@media (max-width:992px) {
	.shoes-sidebar.shoes-collapse {
		display: none
	}
	.shoes-main {
		margin-left: 0!important;
		margin-right: 0!important
	}
}

.shoes-top,
.shoes-bottom {
	position: fixed;
	width: 100%;
	z-index: 1
}

.shoes-top {
	top: 0
}

.shoes-bottom {
	bottom: 0
}

.shoes-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.shoes-display-topleft {
	position: absolute;
	left: 0;
	top: 0
}

.shoes-display-topright {
	position: absolute;
	right: 0;
	top: 0
}

.shoes-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}

.shoes-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0
}

.shoes-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.shoes-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%)
}

.shoes-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%)
}

.shoes-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.shoes-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.shoes-display-container:hover .shoes-display-hover {
	display: block
}

.shoes-display-container:hover span.shoes-display-hover {
	display: inline-block
}

.shoes-display-hover {
	display: none
}

.shoes-display-position {
	position: absolute
}

.shoes-circle {
	border-radius: 50%
}

.shoes-round-small {
	border-radius: 2px
}

.shoes-round,
.shoes-round-medium {
	border-radius: 4px
}

.shoes-round-large {
	border-radius: 8px
}

.shoes-round-xlarge {
	border-radius: 16px
}

.shoes-round-xxlarge {
	border-radius: 32px
}

.shoes-row-padding,
.shoes-row-padding>.shoes-half,
.shoes-row-padding>.shoes-third,
.shoes-row-padding>.shoes-twothird,
.shoes-row-padding>.shoes-threequarter,
.shoes-row-padding>.shoes-quarter,
.shoes-row-padding>.shoes-col {
	padding: 0 8px
}

.shoes-container,
.shoes-panel {
	padding: 0.01em 16px
}

.shoes-panel {
	margin-top: 16px;
	margin-bottom: 16px
}

.shoes-code,
.shoes-codespan {
	font-family: Consolas, "courier new";
	font-size: 16px
}

.shoes-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word
}

.shoes-codespan {
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%
}

.shoes-card,
.shoes-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.shoes-card-4,
.shoes-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.shoes-spin {
	animation: w3-spin 2s infinite linear
}

@keyframes w3-spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(359deg)
	}
}

.shoes-animate-fading {
	animation: fading 10s infinite
}

@keyframes fading {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

.shoes-animate-opacity {
	animation: opac 0.8s
}

@keyframes opac {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.shoes-animate-top {
	position: relative;
	animation: animatetop 0.4s
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

.shoes-animate-left {
	position: relative;
	animation: animateleft 0.4s
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0
	}
	to {
		left: 0;
		opacity: 1
	}
}

.shoes-animate-right {
	position: relative;
	animation: animateright 0.4s
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}
	to {
		right: 0;
		opacity: 1
	}
}

.shoes-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s
}

@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}

.shoes-animate-zoom {
	animation: animatezoom 0.6s
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.shoes-animate-input {
	transition: width 0.4s ease-in-out
}

.shoes-animate-input:focus {
	width: 100%!important
}

.shoes-opacity,
.shoes-hover-opacity:hover {
	opacity: 0.60
}

.shoes-opacity-off,
.shoes-hover-opacity-off:hover {
	opacity: 1
}

.shoes-opacity-max {
	opacity: 0.25
}

.shoes-opacity-min {
	opacity: 0.75
}

.shoes-greyscale-max,
.shoes-grayscale-max,
.shoes-hover-greyscale:hover,
.shoes-hover-grayscale:hover {
	filter: grayscale(100%)
}

.shoes-greyscale,
.shoes-grayscale {
	filter: grayscale(75%)
}

.shoes-greyscale-min,
.shoes-grayscale-min {
	filter: grayscale(50%)
}

.shoes-sepia {
	filter: sepia(75%)
}

.shoes-sepia-max,
.shoes-hover-sepia:hover {
	filter: sepia(100%)
}

.shoes-sepia-min {
	filter: sepia(50%)
}

.shoes-tiny {
	font-size: 10px!important
}

.shoes-small {
	font-size: 12px!important
}

.shoes-medium {
	font-size: 15px!important
}

.shoes-large {
	font-size: 18px!important
}

.shoes-xlarge {
	font-size: 24px!important
}

.shoes-xxlarge {
	font-size: 36px!important
}

.shoes-xxxlarge {
	font-size: 48px!important
}

.shoes-jumbo {
	font-size: 64px!important
}

.shoes-left-align {
	text-align: left!important
}

.shoes-right-align {
	text-align: right!important
}

.shoes-justify {
	text-align: justify!important
}

.shoes-center {
	text-align: center!important
}

.shoes-border-0 {
	border: 0!important
}

.shoes-border {
	border: 1px solid #ccc!important
}

.shoes-border-top {
	border-top: 1px solid #ccc!important
}

.shoes-border-bottom {
	border-bottom: 1px solid #ccc!important
}

.shoes-border-left {
	border-left: 1px solid #ccc!important
}

.shoes-border-right {
	border-right: 1px solid #ccc!important
}

.shoes-topbar {
	border-top: 6px solid #ccc!important
}

.shoes-bottombar {
	border-bottom: 6px solid #ccc!important
}

.shoes-leftbar {
	border-left: 6px solid #ccc!important
}

.shoes-rightbar {
	border-right: 6px solid #ccc!important
}

.shoes-section,
.shoes-code {
	margin-top: 16px!important;
	margin-bottom: 16px!important
}

.shoes-margin {
	margin: 16px!important
}

.shoes-margin-top {
	margin-top: 16px!important
}

.shoes-margin-bottom {
	margin-bottom: 16px!important
}

.shoes-margin-left {
	margin-left: 16px!important
}

.shoes-margin-right {
	margin-right: 16px!important
}

.shoes-padding-small {
	padding: 4px 8px!important
}

.shoes-padding {
	padding: 8px 16px!important
}

.shoes-padding-large {
	padding: 12px 24px!important
}

.shoes-padding-16 {
	padding-top: 16px!important;
	padding-bottom: 16px!important
}

.shoes-padding-24 {
	padding-top: 24px!important;
	padding-bottom: 24px!important
}

.shoes-padding-32 {
	padding-top: 32px!important;
	padding-bottom: 32px!important
}

.shoes-padding-48 {
	padding-top: 48px!important;
	padding-bottom: 48px!important
}

.shoes-padding-64 {
	padding-top: 64px!important;
	padding-bottom: 64px!important
}

.shoes-left {
	float: left!important
}

.shoes-right {
	float: right!important
}

.shoes-button:hover {
	color: #000!important;
	background-color: #ccc!important
}

.shoes-transparent,
.shoes-hover-none:hover {
	background-color: transparent!important
}

.shoes-hover-none:hover {
	box-shadow: none!important
}

/* Colors */

.shoes-amber,
.shoes-hover-amber:hover {
	color: #000!important;
	background-color: #ffc107!important
}

.shoes-aqua,
.shoes-hover-aqua:hover {
	color: #000!important;
	background-color: #00ffff!important
}

.shoes-blue,
.shoes-hover-blue:hover {
	color: #fff!important;
	background-color: #2196F3!important
}

.shoes-light-blue,
.shoes-hover-light-blue:hover {
	color: #000!important;
	background-color: #87CEEB!important
}

.shoes-brown,
.shoes-hover-brown:hover {
	color: #fff!important;
	background-color: #795548!important
}

.shoes-cyan,
.shoes-hover-cyan:hover {
	color: #000!important;
	background-color: #00bcd4!important
}

.shoes-blue-grey,
.shoes-hover-blue-grey:hover,
.shoes-blue-gray,
.shoes-hover-blue-gray:hover {
	color: #fff!important;
	background-color: #607d8b!important
}

.shoes-green,
.shoes-hover-green:hover {
	color: #fff!important;
	background-color: #4CAF50!important
}

.shoes-light-green,
.shoes-hover-light-green:hover {
	color: #000!important;
	background-color: #8bc34a!important
}

.shoes-indigo,
.shoes-hover-indigo:hover {
	color: #fff!important;
	background-color: #3f51b5!important
}

.shoes-khaki,
.shoes-hover-khaki:hover {
	color: #000!important;
	background-color: #f0e68c!important
}

.shoes-lime,
.shoes-hover-lime:hover {
	color: #000!important;
	background-color: #cddc39!important
}

.shoes-orange,
.shoes-hover-orange:hover {
	color: #000!important;
	background-color: #ff9800!important
}

.shoes-deep-orange,
.shoes-hover-deep-orange:hover {
	color: #fff!important;
	background-color: #ff5722!important
}

.shoes-pink,
.shoes-hover-pink:hover {
	color: #fff!important;
	background-color: #e91e63!important
}

.shoes-purple,
.shoes-hover-purple:hover {
	color: #fff!important;
	background-color: #9c27b0!important
}

.shoes-deep-purple,
.shoes-hover-deep-purple:hover {
	color: #fff!important;
	background-color: #673ab7!important
}

.shoes-red,
.shoes-hover-red:hover {
	color: #fff!important;
	background-color: #f44336!important
}

.shoes-sand,
.shoes-hover-sand:hover {
	color: #000!important;
	background-color: #fdf5e6!important
}

.shoes-teal,
.shoes-hover-teal:hover {
	color: #fff!important;
	background-color: #009688!important
}

.shoes-yellow,
.shoes-hover-yellow:hover {
	color: #000!important;
	background-color: #ffeb3b!important
}

.shoes-white,
.shoes-hover-white:hover {
	color: #000!important;
	background-color: #fff!important
}

.shoes-black,
.shoes-hover-black:hover {
	color: #fff!important;
	background-color: #000!important
}

.shoes-grey,
.shoes-hover-grey:hover,
.shoes-gray,
.shoes-hover-gray:hover {
	color: #000!important;
	background-color: #9e9e9e!important
}

.shoes-light-grey,
.shoes-hover-light-grey:hover,
.shoes-light-gray,
.shoes-hover-light-gray:hover {
	color: #000!important;
	background-color: #f1f1f1!important
}

.shoes-dark-grey,
.shoes-hover-dark-grey:hover,
.shoes-dark-gray,
.shoes-hover-dark-gray:hover {
	color: #fff!important;
	background-color: #616161!important
}

.shoes-pale-red,
.shoes-hover-pale-red:hover {
	color: #000!important;
	background-color: #ffdddd!important
}

.shoes-pale-green,
.shoes-hover-pale-green:hover {
	color: #000!important;
	background-color: #ddffdd!important
}

.shoes-pale-yellow,
.shoes-hover-pale-yellow:hover {
	color: #000!important;
	background-color: #ffffcc!important
}

.shoes-pale-blue,
.shoes-hover-pale-blue:hover {
	color: #000!important;
	background-color: #ddffff!important
}

.shoes-text-amber,
.shoes-hover-text-amber:hover {
	color: #ffc107!important
}

.shoes-text-aqua,
.shoes-hover-text-aqua:hover {
	color: #00ffff!important
}

.shoes-text-blue,
.shoes-hover-text-blue:hover {
	color: #2196F3!important
}

.shoes-text-light-blue,
.shoes-hover-text-light-blue:hover {
	color: #87CEEB!important
}

.shoes-text-brown,
.shoes-hover-text-brown:hover {
	color: #795548!important
}

.shoes-text-cyan,
.shoes-hover-text-cyan:hover {
	color: #00bcd4!important
}

.shoes-text-blue-grey,
.shoes-hover-text-blue-grey:hover,
.shoes-text-blue-gray,
.shoes-hover-text-blue-gray:hover {
	color: #607d8b!important
}

.shoes-text-green,
.shoes-hover-text-green:hover {
	color: #4CAF50!important
}

.shoes-text-light-green,
.shoes-hover-text-light-green:hover {
	color: #8bc34a!important
}

.shoes-text-indigo,
.shoes-hover-text-indigo:hover {
	color: #3f51b5!important
}

.shoes-text-khaki,
.shoes-hover-text-khaki:hover {
	color: #b4aa50!important
}

.shoes-text-lime,
.shoes-hover-text-lime:hover {
	color: #cddc39!important
}

.shoes-text-orange,
.shoes-hover-text-orange:hover {
	color: #ff9800!important
}

.shoes-text-deep-orange,
.shoes-hover-text-deep-orange:hover {
	color: #ff5722!important
}

.shoes-text-pink,
.shoes-hover-text-pink:hover {
	color: #e91e63!important
}

.shoes-text-purple,
.shoes-hover-text-purple:hover {
	color: #9c27b0!important
}

.shoes-text-deep-purple,
.shoes-hover-text-deep-purple:hover {
	color: #673ab7!important
}

.shoes-text-red,
.shoes-hover-text-red:hover {
	color: #f44336!important
}

.shoes-text-sand,
.shoes-hover-text-sand:hover {
	color: #fdf5e6!important
}

.shoes-text-teal,
.shoes-hover-text-teal:hover {
	color: #009688!important
}

.shoes-text-yellow,
.shoes-hover-text-yellow:hover {
	color: #d2be0e!important
}

.shoes-text-white,
.shoes-hover-text-white:hover {
	color: #fff!important
}

.shoes-text-black,
.shoes-hover-text-black:hover {
	color: #000!important
}

.shoes-text-grey,
.shoes-hover-text-grey:hover,
.shoes-text-gray,
.shoes-hover-text-gray:hover {
	color: #757575!important
}

.shoes-text-light-grey,
.shoes-hover-text-light-grey:hover,
.shoes-text-light-gray,
.shoes-hover-text-light-gray:hover {
	color: #f1f1f1!important
}

.shoes-text-dark-grey,
.shoes-hover-text-dark-grey:hover,
.shoes-text-dark-gray,
.shoes-hover-text-dark-gray:hover {
	color: #3a3a3a!important
}

.shoes-border-amber,
.shoes-hover-border-amber:hover {
	border-color: #ffc107!important
}

.shoes-border-aqua,
.shoes-hover-border-aqua:hover {
	border-color: #00ffff!important
}

.shoes-border-blue,
.shoes-hover-border-blue:hover {
	border-color: #2196F3!important
}

.shoes-border-light-blue,
.shoes-hover-border-light-blue:hover {
	border-color: #87CEEB!important
}

.shoes-border-brown,
.shoes-hover-border-brown:hover {
	border-color: #795548!important
}

.shoes-border-cyan,
.shoes-hover-border-cyan:hover {
	border-color: #00bcd4!important
}

.shoes-border-blue-grey,
.shoes-hover-border-blue-grey:hover,
.shoes-border-blue-gray,
.shoes-hover-border-blue-gray:hover {
	border-color: #607d8b!important
}

.shoes-border-green,
.shoes-hover-border-green:hover {
	border-color: #4CAF50!important
}

.shoes-border-light-green,
.shoes-hover-border-light-green:hover {
	border-color: #8bc34a!important
}

.shoes-border-indigo,
.shoes-hover-border-indigo:hover {
	border-color: #3f51b5!important
}

.shoes-border-khaki,
.shoes-hover-border-khaki:hover {
	border-color: #f0e68c!important
}

.shoes-border-lime,
.shoes-hover-border-lime:hover {
	border-color: #cddc39!important
}

.shoes-border-orange,
.shoes-hover-border-orange:hover {
	border-color: #ff9800!important
}

.shoes-border-deep-orange,
.shoes-hover-border-deep-orange:hover {
	border-color: #ff5722!important
}

.shoes-border-pink,
.shoes-hover-border-pink:hover {
	border-color: #e91e63!important
}

.shoes-border-purple,
.shoes-hover-border-purple:hover {
	border-color: #9c27b0!important
}

.shoes-border-deep-purple,
.shoes-hover-border-deep-purple:hover {
	border-color: #673ab7!important
}

.shoes-border-red,
.shoes-hover-border-red:hover {
	border-color: #f44336!important
}

.shoes-border-sand,
.shoes-hover-border-sand:hover {
	border-color: #fdf5e6!important
}

.shoes-border-teal,
.shoes-hover-border-teal:hover {
	border-color: #009688!important
}

.shoes-border-yellow,
.shoes-hover-border-yellow:hover {
	border-color: #ffeb3b!important
}

.shoes-border-white,
.shoes-hover-border-white:hover {
	border-color: #fff!important
}

.shoes-border-black,
.shoes-hover-border-black:hover {
	border-color: #000!important
}

.shoes-border-grey,
.shoes-hover-border-grey:hover,
.shoes-border-gray,
.shoes-hover-border-gray:hover {
	border-color: #9e9e9e!important
}

.shoes-border-light-grey,
.shoes-hover-border-light-grey:hover,
.shoes-border-light-gray,
.shoes-hover-border-light-gray:hover {
	border-color: #f1f1f1!important
}

.shoes-border-dark-grey,
.shoes-hover-border-dark-grey:hover,
.shoes-border-dark-gray,
.shoes-hover-border-dark-gray:hover {
	border-color: #616161!important
}

.shoes-border-pale-red,
.shoes-hover-border-pale-red:hover {
	border-color: #ffe7e7!important
}

.shoes-border-pale-green,
.shoes-hover-border-pale-green:hover {
	border-color: #e7ffe7!important
}

.shoes-border-pale-yellow,
.shoes-hover-border-pale-yellow:hover {
	border-color: #ffffcc!important
}

.shoes-border-pale-blue,
.shoes-hover-border-pale-blue:hover {
	border-color: #e7ffff!important
}